root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{ps1,psm1,psd1,psc1,ps1xml,clixml}]
end_of_line = crlf


[*.{yml,yaml}]
indent_size = 2
