# Set merge behavior for the changelog
CHANGELOG.md merge=union

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.md            text
*.gitattributes text

# Declare files that will always have LF line endings on checkout.
*.ps1    text  eol=lf
*.psm1   text  eol=lf
*.psd1   text  eol=lf
*.psc1   text  eol=lf
*.ps1xml text  eol=lf
*.clixml text  eol=lf
*.xml    text  eol=lf
*.txt    text  eol=lf
*.md     text  eol=lf

# Denote all files that are truly binary and should not be mergeable.
*.dll binary
*.exe binary
