############################################################
#
# See http://www.appveyor.com/docs/appveyor-yml for many more options
#
# Credit for a lot of this file goes to RamblingCookieMonster:
# https://github.com/RamblingCookieMonster/PSSQLite/blob/master/appveyor.yml
#
############################################################

# This tells AppVeyor that we need WMF 5 and PowerShell 5.0
os: WMF 5

environment:
    ModuleName: $(APPVEYOR_PROJECT_NAME)
    Tags: 'JIRA'
    LicenseUri: 'https://github.com/AtlassianPS/JiraPS/blob/master/LICENSE'
    ProjectUri: 'https://github.com/AtlassianPS/JiraPS/'

    # To encrypt a value in AppVeyor, go to the Account menu and choose "Encrypt data"
    PSGalleryAPIKey:
        secure: 5WCRuuF+sk5Mjnt5cL6uJw4cMU2QzDNE8uBXOw2hXSujE93zxRcROS3ZM1w85ui3

version: 2.1.0.{build}

# Only build commits to these branches
branches:
    only:
        - master
        - dev

# Don't rebuild when I tag a release on GitHub
skip_tags: true

skip_commits:
    message: /readme*/
    files:
        - .github/
        - .vscode/
        - assets/
        - docs/
        - Tools/

install:
    - cmd: npm install -g markdown-spellcheck
    - ps: Get-PackageProvider -Name NuGet -ForceBootstrap | Out-Null
    - ps: Set-PSRepository -Name PSGallery -InstallationPolicy Trusted
    - ps: Install-Module BuildHelpers, InvokeBuild

test_script:
    # - cmd: mdspell '**/*.md' '!**/node_modules/**/*.md' --ignore-numbers --ignore-acronyms --report
    # - ps: Invoke-Build -Task Test
    - ps: Invoke-Build .
